.contact {
  padding: 60px 80px;
}

.contact h1 {
  font-size: 68px;
  font-weight: 300;
}

.contact-eyebrow {
  font-family: var(--secondary-font);
  font-size: 36px;
  color: var(--secondary-color);
  font-weight: 300;
}

.contact-link {
  text-decoration: none;
  color: var(--secondary-color);
}

@media (max-width: 991.98px) {
  .contact h1 {
    font-size: 48px;
  }
  .contact h2 {
    font-size: 28px;
  }
  .contact {
    text-align: center;
    padding: 30px 10px;
  }
}
